body {
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px 0px 24px;
}

img {
    height: 200px;

}

nav {
    padding: 16px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: green;
}
